<% provide :title, t("help") %>
<h1><%= t "help" %></h1>

<big><p>Normal user</p></big>
  <p>- can signup</p>
  <p>- can signin/signout</p>
  <p>- can follow other users</p>
  <p>- can create a post and show with title, content, created date</p>
  <p>- can comment on a post creating by him and user who is followed by him (display comment's content, username and created date)</p>

<big><p>Non-signin user</p></big>
  <p>- can read all posts and comments (with pagination)</p>
  <p>- cannot create post or comment</p>
  <p>- can search posts by keyword</p>
  <p>- can see the list of latest posts</p>

<big><p>The model names you must use</p></big>
  <p>- User</p>
  <p>- Post</p>
  <p>- Comment</p>
  <p>- other models (if you need)</p>

<big><p>My code is uploaded on Github</p></big>
