<% provide(:title, "Help") %>

<h1>Help</h1>

(*)Normal user
- can signup
- can signin/signout
- can follow other users
- can create a post and show with title, content, created date
- can comment on a post creating by him and user who is followed by him (display comment's content, username and created date)

(*)Non-signin user
- can read all posts and comments (with pagination)
- cannot create post or comment
- can search posts by keyword
- can see the list of latest posts

(*)The model names you must use
- User
- Post
- Comment
- other models (if you need)

(*)Your code is uploaded on Github

(*)Your system is deployed on Heroku
